/* Éléments principaux */

body
{
    max-width: 1200px;
    min-width: 600px;
    margin: auto;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

/* Header */

header
{
    display: flex;
    justify-content: space-between;
}

nav
{
    align-self: center;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav ul li
{
    margin-right: 10px;
}

/* Section */

section
{
    display: flex;
    flex-direction: column;
}

section #banniere
{
    position: relative; 
    margin-top: -10px; /* Permet de coller la bannière au logo du header */
}

section #banniere #banniere_texte
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Permet de positionner #banniere_texte par rapport a son centre */
    width: 400px;
    text-align: center;
}

section #banniere #banniere_texte h1
{
    color: white;
}

section #banniere #banniere_texte img
{
    width: 50%;
}

section #banniere #banniere_image img
{
    width: 100%;
}

/* Article */

section article
{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px 20% 0 20%;
}

section article h1
{
    color: #57577D;
    font-weight: normal;
}

section article #themes
{
    display: flex;
    margin-top: 10px;
}

section article #themes div
{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    margin: 0 10px 0 10px;
    align-items: center;
}

section article #themes div img
{
    width: 30%;
}

section article #themes div h1
{
    color: black;
    text-transform: uppercase;
    font-weight: normal;
}

section article #themes div p
{
    font-size: 0.8em;
}

section article blockquote p
{
    color: #57577D;
}

section article blockquote cite
{
    color: #57577D;
    font-size: 0.8em;
    font-style: normal;
}

/* Footer */

footer
{
    background-color: #5B359D;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

footer #reseaux_sociaux i
{
    font-size: 2em;
    color: #BDAED8;
    margin: 0 30px;
}

footer #liens
{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

footer #liens h1
{
    font-size: 1.2em;
    color: #BDAED8;
}

footer #liens #coordonnees ul
{
    list-style-type: none;
}